* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Droid Serif', serif;
}
a {
    font-family: 'Droid Serif', serif;
}

ul li ul li a {
    text-decoration:none;
}​






body {
    
    
}

div.wrapper {
    
    width: 100%;
    min-height: 1000px;
    background-color: whitesmoke;
    background-color: whitesmoke;
    background-image: url("background.png");
    

    
}

div.MainContent {
    
    width: 800px;
    min-height: 1000px;
    margin: 0 auto;
    /*-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/

    
    
    
}

div.CenterContent {
    
    width: 100%;
    min-height: 100%;
   
    background-color: lightgray;
    
    opacity: 0.97;
    filter: alpha(opacity=40);
}

div.Header {
    width: 100%;
    height: 180px;
    background-color: orange;   
}

div.HeaderContent {
    width: 650px;
    height: 150px;
}

h1#HeaderHeadlinetop {
    margin-left: 50px;
    display: inline;
    font-size: 3.7em;
    float: left;
}

h1#HeaderHeadlineBottom {
    display: inline;
    float: right;
    font-size: 3.7em;
    margin-right: 70px;
}


div.logoDiv {
    height: 150px;
    width: 150px;
    float: left;
}

img.logoImg {
    height: 150px;
    width: 150px;
}

div.logoDiv :hover {
    cursor: pointer;
}

nav.MainNavigation {
    width: 100%;
    height: 30px;
    background-color: orange;
    float: left;
       /*-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
}

ul {
    list-style: none;   
}
a.MainNavAnchor {
    display:inline-block;
}


a:link {
    color: whitesmoke;
    color: orange;
}

/*a:hover {
    color: black;    
}*/
a:active {
    color: whitesmoke;
}
a:visited {
    color: orange;
}

a {
    text-decoration: none;
    padding-bottom: 2px;
}


li.LiNavElement {
    width: 20%;
    height: 30px;
    float: left;
    text-align: center;
    background-color: black;
    /*color: whitesmoke;*/
    color: orange;
    font-size: 1.5em;
    
}

ul li a {
 display:block;
}

/*ul li a:hover, ul li a:focus {
 color:black;
}*/

.current {
    background-color: orange;
    color: black !important;;
}


li:hover {
    background-color: whitesmoke;
    cursor: pointer;
    
    font-family: 'Droid Serif', serif;
    color: black;
}



footer.footer {
    height: 100px;
    width: 100%;
    background-color: orange;
}





